@import url('https://fonts.googleapis.com/css?family=Muli:300,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fbfcfe;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  border-radius: 3px;
  border: 3px solid #000;
  background-color: #fff;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
}
.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.code {
  width: 100px;
  height: 120px;
  text-align: center;
  font-weight: 300;
  border: 1px solid #eee;
  font-size: 75px;
  border-radius: 5px;
  margin: 1%;
  caret-color: transparent;
}
/* 设置number上下样式 */
.code::-webkit-inner-spin-button {
  /* 去除默认样式 */
  -webkit-appearance: none;
  margin: 0;
}
/* 验证成功样式 */
.code:valid {
  border-color: #3498db;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}
.info {
  background-color: #eaeaea;
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: #777;
  border-radius: 5px;
}